//$primaryColor: change-color(#79AEA3, $lightness: 50);
$primaryColor: change-color(#3797F0, $lightness: 50);
$secondaryColor: change-color(#FFD0B1, $lightness: 50);
$gray: change-color($primaryColor, $saturation: 5, $lightness: 50);
$black: change-color($primaryColor, $lightness: 15);
$white: change-color($primaryColor, $lightness: 98);


:root {
    --primary: $primaryColor;
    --black: $black;
    --white: $white;
}

html, body, app {
    width: 100vw;
    height: 100vh;
    color: $black;
    background-color: $white;
}

div {
    width:100%;
}

.login-background {
    background-color: $primaryColor;
    background-image: linear-gradient($primaryColor, scale-color($primaryColor, $lightness:-30));
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .login-header {
        text-align: center;
        font-size: 40px;
        padding: 40px 0 0 0;
    }

    .login-content {
        padding: 20px;
        animation: 1s ease-out 0s 1 slideInFromLeft;
    }

    @keyframes slideInFromLeft {
        0% {
            transform: translateY(-10%);
            opacity: 0;
        }

        100% {
            transform: translateY(0);
            opacity: 1;
        }
    }


    .login-content-container {
        display: grid;
        grid-template-rows: 1fr auto;
        height: 100%;
    }


    .login-container {
        background-color: $white;
        border: 1px solid scale-color($primaryColor, $lightness: -30);
        width: 540px;
        min-height: 80%;
        display: grid;
        grid-template-rows: auto 1fr;
        align-items: center;

        .actionContainer {
            $actionBground: scale-color($gray, $lightness:80);
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 85px;
            background-color: $actionBground;

            button {
                margin: 20px;
                border: none;
                outline: none;
                padding: 5px;
                background-color: $secondaryColor;
                color: scale-color($secondaryColor, $lightness:95);

                &:hover {
                    background-color: scale-color($secondaryColor, $lightness:40);
                }

                &.active {
                    background-color: $actionBground;
                    color: $gray;

                    &:hover {
                        background-color: scale-color($actionBground, $lightness:-10);
                    }
                }
            }
        }
    }

    label {
        font-size:24px;
    }

    input {
        border: 1px solid $gray;
        padding: 3px;
        border-radius: 5px;
        width: 100%;
    }

    input[type='checkbox'] {
        width:auto;
    }

    form {
        width: 100%;
        height: 100%;
    }
}


.sidebar {
    background-image: linear-gradient(180deg, $primaryColor 0%, scale-color($primaryColor, $lightness:30) 70%);
}

.sidebar .top-row {
    background-color: rgba(0,0,0,0.4);
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.sidebar .nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.sidebar .nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.sidebar .nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}