@inject IdentityAgent _identityAgent
@inject NavigationManager _navigationManager
@page "/counter"

<h1>Sign Up</h1>

<h4>First Name:</h4>
<input @bind="_firstName" type="text" placeholder="Enter First Name" />
&nbsp;
<h4>Last Name:</h4>
<input @bind="_lastName" type="text" placeholder="Enter Last Name" />
&nbsp;
<h4>Birthday:</h4>
<input @bind="_birthday" type="date" placeholder="Enter Birthday" />
&nbsp;
<h4>Email:</h4>
<input @bind="_email" type="email" placeholder="Enter Email" />
&nbsp;
<h4>Password:</h4>
<input @bind="_password" type="password" placeholder="Enter Password" />
&nbsp;

<button class="btn btn-primary" @onclick="SignUp">Sign Up</button>

@code {
    private string _firstName;
    private string _lastName;
    private DateTime _birthday;
    private string _email;
    private string _password;

private void SignUp()
    {
        var addItem = new User { FirstName = _firstName, LastName = _lastName, DateOfBirth = _birthday, Email = _email, Password = _password};
        //Http Post here for sign up
    }
}
