@page "/"
@inject CoursesAgent  _coursesAgent

<h1>
    Home Page
</h1>

@code { 
    protected override void OnInitialized()
    {
        var courses = _coursesAgent.GetCoursesByUser();
        base.OnInitialized();
    }
}