@page "/"
@inject CoursesAgent  _coursesAgent
@inject AuthenticationStateProvider _authenticationStateProvider
@inject IdentityAgent _identityAgent
@inject CoursesState _coursesState

<h1>

</h1>

<AuthorizeView Roles="Teacher">
    <TeacherHomeComponent></TeacherHomeComponent>
</AuthorizeView>

<AuthorizeView Roles="Student">
    <StudentHomeComponent Courses="@_coursesState.Courses"></StudentHomeComponent>
</AuthorizeView>
   


@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }


    protected override async Task OnInitializedAsync()
    {
        await _coursesState.LoadCourses();
    }

}
