@page "/"
@inject CoursesAgent  _coursesAgent

<h1>
    Home Page
</h1>

This is the home page index page you can't see unless you are authenticated

@code { 
    protected override void OnInitialized()
    {
        var courses = _coursesAgent.GetCoursesByUser();
        base.OnInitialized();
    }
}