@inject IdentityAgent _identityAgent
@inject NavigationManager _navigationManager

<div class="login-background">
    <div class="login-container">

        <div class="login-header">Strive Learning Systems</div>

        @if (pageState == "login")
        {
            <EditForm OnValidSubmit="LogIn" Model="loginCreds">
                <ValidationSummary />
                <DataAnnotationsValidator />
                <div class="login-content-container">
                    <div class="login-content">
                        <h1>Login</h1>
                        <h4>Email:</h4>
                        <input @bind-value="loginCreds.Email" type="email" placeholder="Enter Email" />
                        <h4>Password:</h4>
                        <input @bind="loginCreds.Password" type="password" placeholder="Enter Password" />

                        @if (loginState == 1)
                        {
                            <div>Logging in...</div>
                        }
                        @if (loginState == 2)
                        {
                            <div>@error</div>
                        }
                    </div>
                    <div class="actionContainer">
                        <button type="button" class="active" @onclick="ChangeToRegister">Register</button>
                        <button type="submit">Login</button>
                    </div>
                </div>
            </EditForm>


        }
        else if (pageState == "register")
        {
            <EditForm OnValidSubmit="SignUp" Model="NewUser">
                <ValidationSummary />
                <DataAnnotationsValidator />
                <div class="login-content-container">
                    <div class="login-content">
                        <h1>Sign Up</h1>

                        <div>@NewUser.FirstName</div>

                        <h4>First Name:</h4>
                        <input @bind-value="NewUser.FirstName" @bind-value:event="oninput" type="text" placeholder="Enter First Name" />
                        &nbsp;
                        <h4>Last Name:</h4>
                        <input @bind-value="NewUser.LastName" type="text" placeholder="Enter Last Name" />
                        &nbsp;
                        <h4>Birthday:</h4>
                        <input @bind-value="NewUser.DateOfBirth" type="date" placeholder="Enter Birthday" />
                        &nbsp;
                        <h4>Email:</h4>
                        <input @bind-value="NewUser.Email" type="email" placeholder="Enter Email" />
                        &nbsp;
                        <h4>Password:</h4>
                        <input @bind-value="NewUser.Password" type="password" placeholder="Enter Password" />
                        &nbsp;
                        <div>
                            <label for="isteacherbox">Teacher:</label>
                            <input id="isteacherbox" type="checkbox" @bind-value="NewUser.IsTeacher" />
                        </div>
                        @if (registerState == 3)
                        {
                            <div>Error Registering User: Username already exists</div>
                        }
                        else if (registerState == 2)
                        {
                            <div>Registered User!</div>
                        }
                        else if (registerState == 1)
                        {
                            <div>Registering user...</div>
                        }

                    </div>
                    <div class="actionContainer">
                        <button type="submit">Register</button>
                        <button type="button" class="active" @onclick="ChangeToLogin">Login</button>
                    </div>
                </div>
            </EditForm>

        }

    </div>
</div>
@code {
    private string pageState = "login";

    private User NewUser { get; set; }

    private Credential loginCreds { get; set; } = new Credential();

    private string error = "";
    int loginState = 0;

    int registerState = 0;

    private async Task LogIn()
    {
        loginState = 1;
        var result = await _identityAgent.Login(loginCreds);

        if (result.Successful)
        {
            //_navigationManager.NavigateTo("/");
            loginState = 0;
        }
        else
        {
            error = result.Error;
            loginState = 2;
        }
    }

    private void ChangeToRegister()
    {
        NewUser = new User();
        pageState = "register";
        StateHasChanged();
    }

    private void ChangeToLogin()
    {
        pageState = "login";
        StateHasChanged();
    }

    private async Task SignUp()
    {
        registerState = 1;
        var user = await _identityAgent.RegisterUser(NewUser);
        if (user != null)
        {
            registerState = 2;
            StateHasChanged();
        }
        else
        {
            registerState = 3;
        }

    }
}