
@page "/profile"
@inject IdentityAgent _identityAgent

@if (_user == null)
{
    <p>Loading...</p>
}
else
{
    <h1>Profile</h1>
    <h1>@_user.FirstName @_user.LastName</h1>
}

@code{

    private User _user;


     protected override async Task OnInitializedAsync()
    {
         _user = await _identityAgent.GetProfile();
    }
    //convert upload image to byte[] array to in db
    /*    public byte[] ImageToByteArray(System.Drawing.Image imageIn)
        {
           using (var ms = new MemoryStream())
           {
              imageIn.Save(ms,imageIn.RawFormat);
              return  ms.ToArray();
           }
        }*/

}
