
@page "/profile"
@inject IdentityAgent _identityAgent

@if (_user == null)
{
    <p>Loading...</p>
}
else
{
    <h1>Profile</h1>
    <h1>@_user.FirstName</h1>
}


    @code           {

private User _user;

protected async Task GetProfile()
{
_user = await _identityAgent.GetProfile();
}

}
