@inject CoursesAgent  _coursesAgent

@if (_coursesvar == null)
{
    <p>Loading...</p>
}
else
{
    <h1>Student Homepage</h1>
    <h2>Current courses</h2>
<table rules="all" style="width:70%; position:center">
    <tr>
        <th>Teacher</th>
        <th>Description</th>
    </tr>
    @foreach (var course in _coursesvar)
    {
        <tr>
            <th>@course.Teacher</th>
            <th>@course.Description</th>
        </tr>
    }
</table>
}

<CalendarComponent></CalendarComponent>



@code {

    private List<Course> _coursesvar;

    protected override async Task OnInitializedAsync()
    {
        _coursesvar = await _coursesAgent.GetCoursesByUser();
    }

}