@inherits LayoutComponentBase

<AuthorizeView>
    <Authorized>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4" style="z-index:10">
                <TopBarMenu></TopBarMenu>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </Authorized>
    <NotAuthorized>

        <StriveLearningSystem.Client.Pages.Login></StriveLearningSystem.Client.Pages.Login>
    </NotAuthorized>
</AuthorizeView>
