@inject IdentityAgent _identityAgent


<span>@name</span>


@code {
    private string name = "";

    protected override async Task OnInitializedAsync()
    {
        name = "";
        name = await _identityAgent.GetName();
    }

}