:root {
  --primary: #1284ed;
  --black: #052747;
  --white: #f6fafe; }

html, body, app {
  width: 100vw;
  height: 100vh;
  color: #052747;
  background-color: #f6fafe; }

div {
  width: 100%; }

.login-background {
  background-color: #1284ed;
  background-image: linear-gradient(#1284ed, #0c5ca6);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  .login-background .login-header {
    text-align: center;
    font-size: 40px;
    padding: 40px 0 0 0; }
  .login-background .login-content {
    padding: 20px;
    animation: 1s ease-out 0s 1 slideInFromLeft; }

@keyframes slideInFromLeft {
  0% {
    transform: translateY(-10%);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
  .login-background .login-content-container {
    display: grid;
    grid-template-rows: 1fr auto;
    height: 100%; }
  .login-background .login-container {
    background-color: #f6fafe;
    border: 1px solid #0c5ca6;
    width: 540px;
    height: 80%;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: center; }
    .login-background .login-container .actionContainer {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      height: 85px;
      background-color: #e4e6e7; }
      .login-background .login-container .actionContainer button {
        margin: 20px;
        border: none;
        outline: none;
        padding: 5px;
        background-color: #ff6500;
        color: #fff7f2; }
        .login-background .login-container .actionContainer button:hover {
          background-color: #ffa366; }
        .login-background .login-container .actionContainer button.active {
          background-color: #e4e6e7;
          color: #798086; }
          .login-background .login-container .actionContainer button.active:hover {
            background-color: #cccfd1; }
  .login-background input {
    border: 1px solid #798086;
    padding: 3px;
    border-radius: 5px;
    width: 100%; }
  .login-background form {
    width: 100%;
    height: 100%; }
